<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %X{requestId} %-5level %logger{36} %M %L - %msg%n"/>

    <springProfile name="local">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${LOG_PATTERN}</Pattern>
            </layout>
        </appender>
    </springProfile>

    <springProfile name="dev, qa, prod">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <target>System.out</target>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <pattern>
                        <pattern>
                            {
                            "log_time": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                            "requestId": "%X{requestId}",
                            "markers": "%marker",
                            "level": "%level",
                            "class": "%-5level %logger{36}",
                            "method": "%M",
                            "line": "%L"
                            }
                        </pattern>
                    </pattern>
                    <nestedField>
                        <fieldName>data</fieldName>
                        <providers>
                            <loggerName>
                                <fieldName>logger</fieldName>
                            </loggerName>
                            <threadName>
                                <fieldName>thread</fieldName>
                            </threadName>
                            <message/>
                        </providers>
                    </nestedField>
                    <mdc/>
                </providers>
            </encoder>
        </appender>
    </springProfile>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>